@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
/* ibm-plex-mono-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/ibm-plex-mono-v15-latin-300.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/ibm-plex-mono-v15-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/ibm-plex-mono-v15-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/ibm-plex-mono-v15-latin-300.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/ibm-plex-mono-v15-latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/ibm-plex-mono-v15-latin-300.svg#IBMPlexMono') format('svg');
  /* Legacy iOS */
}

/* ibm-plex-mono-300italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/ibm-plex-mono-v15-latin-300italic.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/ibm-plex-mono-v15-latin-300italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/ibm-plex-mono-v15-latin-300italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/ibm-plex-mono-v15-latin-300italic.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/ibm-plex-mono-v15-latin-300italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/ibm-plex-mono-v15-latin-300italic.svg#IBMPlexMono') format('svg');
  /* Legacy iOS */
}

/* ibm-plex-mono-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ibm-plex-mono-v15-latin-regular.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/ibm-plex-mono-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/ibm-plex-mono-v15-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/ibm-plex-mono-v15-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/ibm-plex-mono-v15-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/ibm-plex-mono-v15-latin-regular.svg#IBMPlexMono') format('svg');
  /* Legacy iOS */
}

/* ibm-plex-mono-italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/ibm-plex-mono-v15-latin-italic.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/ibm-plex-mono-v15-latin-italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/ibm-plex-mono-v15-latin-italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/ibm-plex-mono-v15-latin-italic.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/ibm-plex-mono-v15-latin-italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/ibm-plex-mono-v15-latin-italic.svg#IBMPlexMono') format('svg');
  /* Legacy iOS */
}

/* ibm-plex-mono-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/ibm-plex-mono-v15-latin-500.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/ibm-plex-mono-v15-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/ibm-plex-mono-v15-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/ibm-plex-mono-v15-latin-500.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/ibm-plex-mono-v15-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/ibm-plex-mono-v15-latin-500.svg#IBMPlexMono') format('svg');
  /* Legacy iOS */
}

/* ibm-plex-mono-500italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/ibm-plex-mono-v15-latin-500italic.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/ibm-plex-mono-v15-latin-500italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/ibm-plex-mono-v15-latin-500italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/ibm-plex-mono-v15-latin-500italic.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/ibm-plex-mono-v15-latin-500italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/ibm-plex-mono-v15-latin-500italic.svg#IBMPlexMono') format('svg');
  /* Legacy iOS */
}

/* ibm-plex-mono-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/ibm-plex-mono-v15-latin-600.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/ibm-plex-mono-v15-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/ibm-plex-mono-v15-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/ibm-plex-mono-v15-latin-600.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/ibm-plex-mono-v15-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/ibm-plex-mono-v15-latin-600.svg#IBMPlexMono') format('svg');
  /* Legacy iOS */
}

/* ibm-plex-mono-600italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/ibm-plex-mono-v15-latin-600italic.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/ibm-plex-mono-v15-latin-600italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/ibm-plex-mono-v15-latin-600italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/ibm-plex-mono-v15-latin-600italic.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/ibm-plex-mono-v15-latin-600italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/ibm-plex-mono-v15-latin-600italic.svg#IBMPlexMono') format('svg');
  /* Legacy iOS */
}
